/* Write your CSS here */
.container {
  background-color: white;
  /* max-width: 700px; */
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span1 {
  color: #c20a72;
}
.btn {
  background-color: #007bff;
  color: white;
  max-width: 100px;
  max-height: 30px;
}
